<!--This is just standard HTML anchor tags, nothing special-->
<a href="https://www.launchcode.org">LaunchCode</a>
<br />
<a href="https://www.lego.com">Play Well</a>
<br />
<a href="https://www.webelements.com">Other Building Blocks</a>