@model CodingEvents.Models.Tag

<h1>Add New Tag</h1>

<form asp-controller="Tag" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <input type="submit" value="Add Tag" />
</form>