<h1>Add Event</h1>

<!-- Since we don't provide a location in our method, it will POST to itself -->
<form method="post">
    <input name="name" type="text" />
    <input type="submit" value="Add Event" />
</form>
