<h1>Delete Event</h1>

<form method="post">
    @foreach (Event curEvent in ViewBag.events)
    {
        <div class="form-group">
            <label>
                <span>@curEvent.Name</span>
                <!-- Note: That we have to use the event ID as the value of the form in order to delete an event -->
                <input type="checkbox" name="eventIds" value="@curEvent.Id" class="form-control">
            </label>
        </div>
    }

    <input type="submit" value="Delete Selected Events" class="btn btn-danger">

</form>