<h1>Coding Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event</a>
</p>
<p>
    <a asp-controller="Events" asp-action="Delete">Delete Event</a>
</p>


@if (ViewBag.events.Count == 0)
{
    <p>No events yet</p>
}
else
{
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <!-- Note: You can also use a generic var instead of the specific class type -->
        @foreach (Event curEvent in ViewBag.events)
        {
            <tr>
                <td>@curEvent.Name</td>
                <td>@curEvent.Description</td>
            </tr>
        }
    </table>
    }

<!--13.7.2.2 Partial view insertion-->
<h5>Partial template values below...</h5>
<partial name="/Views/Shared/_LinkListPartial.cshtml" />
